@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <address>
        Khilkhet, Dhaka, 1229<br />
        Lake City, H#4B, Road#4<br />
        <abbr title="Phone">P</abbr>
        (+880)1675094640
    </address>

    <address>
        <strong>Help/Integration:</strong>   <a href="mailto:saifulbdjoy@gmail.com">saifulbdjoy@gmail.com</a><br />
    </address>
</main>